* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}

header {
    background: #004d6d;
    color: white;
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 300;
}

main {
    max-width: 1100px;
    margin: 40px auto;
}

section {
    background: white;
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    font-size: 1rem;
}

ul li {
    margin-bottom: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 45%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.project a {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.project a:hover {
    background-color: #0056b3;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 30px;
    border-radius: 8px;
}

footer a {
    color: #bbb;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 400;
}

footer a:hover {
    color: white;
    text-decoration: underline;

}

.btn-cv {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn-cv:hover {
    background-color: #218838;
}

/* Habilidades */
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.skill {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.skill h3 {
    font-size: 1.6rem;
    color: #004d6d;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.skill ul {
    list-style: none;
    font-size: 1rem;
}

.skill ul li {
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 80%;
    }

    .curriculo {
        text-align: center;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    body {
        padding: 0 15px;
    }
}
